.market-down {
    color: #ce5c5c;
    background-color: white;
    transition: background-color 1s;
}

.market-up {
    background-color: green;
    background-color: white;
    transition: background-color 1s;
}